<html>

<header>
</header>

<body>

  <form action="/profile/:profile_id/schedules/new">
    <label>
      <input type="checkbox" value="mon"> Monday
    </label>
    <label>
      <input type="checkbox" value="tue"> Tuesday
    </label>
    <label>
      <input type="checkbox" value="wed"> Wednesday
    </label>
    <label>
      <input type="checkbox" value="thu"> Thursday
    </label>
    <label>
      <input type="checkbox" value="fri"> Friday
    </label>
    <label>
      <input type="checkbox" value="sat"> Saturday
    </label>
    <label>
      <input type="checkbox" value="sun"> Sunday
    </label>
    <button type="submit">submit</button>
  </form>

</body>

</html>
