test test

<% if @profile.errors.any? %>
 <section id="errors" >
   <h2> <%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved: </h2>
   <ul>
     <% @profile.errors.full_messages.each do |message| %>
       <li><%= message %></li>
     <% end %>
   </ul>
 </section>

<% end %>

console.log("test")

<form action="/profile/create" method="post" >
<input type="text" name="status">

</input>
</form>
